{% extends "base.html" %}

{% block title %}
  <title>Positions List</title>
{% endblock %}

{% block back_button %}
  <a href="{% url 'tasks:index' %}">
    <i class="fa fa-arrow-left"></i> Home
  </a>
{% endblock %}

{% block content %}
  <h1>
    Positions List
  </h1>

  {% if position_list %}
    {% include "includes/search_form.html" %}
    <div class="list-group">
      {% for position in position_list %}
        <div class="list-group-item d-flex w-100 justify-content-between">
          {{ position.name }}
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>There are no positions in the service.</p>
  {% endif %}
{% endblock %}
