{% extends "base.html" %}

{% block title %}
  <title>Tasks List</title>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between align-items-start">
    <h1>Tasks List</h1>
    <a href="{% url 'tasks:task-create' %}" class="btn btn-primary">
      Create
    </a>
  </div>
  <div class="d-flex justify-space-between align-items-start">
    {% include "includes/search_form.html" %}
    {% include "includes/sort_form.html" %}
  </div>
  {% include "includes/task_list_partial.html" with task_list=task_list %}
{% endblock %}
