{% extends "base.html" %}

{% block title %}
  <title>Task Details</title>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center">
    <h1>{{ task.name }}</h1>
    {{ car.model }}
    <div class="d-flex">
      <a href="{% url 'tasks:task-update' pk=task.pk %}" class="btn btn-secondary mr-3">
        Update
      </a>
      <a href="{% url 'tasks:task-delete' pk=task.pk %}" class="btn btn-danger mr-3">
        Delete
      </a>
    </div>
  </div>

  <small class="d-inline-block mb-2 mr-2">
    Priority:
    {% if task.priority %}
      <span class="text-{{ task.priority_class }}">
        <strong>{{ task.priority_label }}</strong>
      </span>
    {% endif %}
  </small>
  <small class="d-inline-block mb-2 mr-2">
    Is completed:
    <span class="text-{{ task.is_completed|yesno:'success,danger' }}">
      <strong>{{ task.is_completed|yesno:'Yes,No' }}</strong>
    </span>
  </small>
  <small class="d-inline-block mb-2">
    Created at:
    <strong>
      {{ task.created_at|date:"d F Y" }}
      <small class="text-muted">{{ task.created_at|time:"h:i A" }}</small>
    </strong>
  </small>

  <p>{{ task.description }}</p>

  <h2 class="h5 mt-4">Deadline</h2>
  {% if task.deadline %}
    <p>{{ task.deadline|date:"d F Y" }} <small class="text-muted">{{ task.deadline|time:"h:i A" }}</small></p>
  {% else %}
    <p>No deadline</p>
  {% endif %}

  <h2 class="h5 mt-4">Tags</h2>
  {% if task.tags %}
    <p class="mb-0">
      {% for tag in task.tags.all %}
        <span class="badge badge-primary badge-pill">{{ tag }}</span>
      {% empty %}
        No tags
      {% endfor %}
    </p>
  {% endif %}

  <h2 class="h5 mt-4">Assign to</h2>
  <div class="d-flex align-items-center">
    {% for assignee in task.assignees.all %}
      <a href="{% url "tasks:worker-detail" assignee.pk %}" class="mr-2">
        <img
            class="rounded-circle thumb-sm"
            alt="{{ assignee.username }}"
            src="https://avatar.iran.liara.run/username?username={{ assignee.first_name }}+{{ assignee.last_name }}"
            width="32"
            height="32"
        >
      </a>
    {% empty %}
      No assignees
    {% endfor %}
    <a href="#" class="d-flex align-items-center">
      <span class="rounded-circle px-1">
        <i class="fa fa-plus h5 m-0"></i>
      </span>
    </a>
  </div>
{% endblock %}
