{% extends "base.html" %}

{% block title %}
	<title>Worker Detail</title>
{% endblock %}

{% block back_button %}
  <a href="{% url 'tasks:worker-list' %}">
    <i class="fa fa-arrow-left"></i> Workers List
  </a>
{% endblock %}

{% block content %}
  <h1>
    {{ worker.username }}
  </h1>

  <p><strong>First name:</strong> {{ worker.first_name|default:"-" }}</p>
  <p><strong>Last name:</strong> {{ worker.last_name|default:"-" }}</p>
  <p><strong>Position:</strong> {{ worker.position|default:"-" }}</p>

  <h4>Tasks</h4>

  {% include "includes/task_list_partial.html" with task_list=worker.tasks.all %}
{% endblock %}
